<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tbcity.sbmodel.auth.cancel</key>
	<dict>
		<key>code</key>
		<integer>-1101</integer>
		<key>message</key>
		<string>用户登录取消</string>
	</dict>
    
    <key>tbcity.sbmodel.load.method</key>
	<dict>
		<key>code</key>
		<integer>-1102</integer>
		<key>message</key>
		<string>缺少MTop方法名</string>
	</dict>
    
    <key>tbcity.sbmodel.parse</key>
	<dict>
		<key>code</key>
		<integer>-1103</integer>
		<key>message</key>
		<string>解析JSON错误</string>
	</dict>
</dict>
</plist>
